<a href="https://colab.research.google.com/github/FinnGebauer/FinnGebauer/blob/main/Zolar_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

###Load in the data set and check the first few rows

In [ ]:
df = pd.read_csv('/content/Zolar Case.csv')
df.head()

,Order Number,Start Date Order,Customer Agent,Date when order started status,Status Number,Date when order left status,Status Category,Number of Tickets during Status
0,801ErpyAAC,1/7/2019,Bina,8/22/19 10:09,1.0,8/22/19 10:11,Pre-Check,1
1,801ErpyAAC,1/7/2019,Bina,8/22/19 12:00,1.0,8/22/19 12:03,Pre-Check,1
2,801ErpyAAC,1/7/2019,Bina,9/4/19 10:04,1.0,9/4/19 10:06,Pre-Check,2
3,801ErpyAAC,1/7/2019,Bina,7/2/19 8:20,2.0,7/2/19 14:17,Pre-Check,1
4,801ErpyAAC,1/7/2019,Bina,7/2/19 14:17,2.5,7/5/19 15:05,Pre-Check,0

###Check the data types

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24167 entries, 0 to 24166
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Order Number                     24167 non-null  object
 1   Start Date Order                 24167 non-null  object
 2   Customer Agent                   24167 non-null  object
 3   Date when order started status   24167 non-null  object
 4   Status Number                    24167 non-null  float64
 5   Date when order left status      23700 non-null  object
 6   Status Category                  24167 non-null  object
 7   Number of Tickets during Status  24167 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.5+ MB

###Transfrom date strings to datetime format

In [ ]:
df['Date when order started status'] = pd.to_datetime(df['Date when order started status'])
df['Date when order left status'] = pd.to_datetime(df['Date when order left status'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24167 entries, 0 to 24166
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Order Number                     24167 non-null  object
 1   Start Date Order                 24167 non-null  object
 2   Customer Agent                   24167 non-null  object
 3   Date when order started status   24167 non-null  datetime64[ns]
 4   Status Number                    24167 non-null  float64
 5   Date when order left status      23700 non-null  datetime64[ns]
 6   Status Category                  24167 non-null  object
 7   Number of Tickets during Status  24167 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 1.5+ MB

##Approximate installation dates for status 21

###Create anew data frame with only status 21

In [ ]:
status_21 = df[df['Status Number']==21.0]
status_21.head()
status_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 746 entries, 26 to 23587
Data columns (total 8 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Order Number                     746 non-null    object
 1   Start Date Order                 746 non-null    object
 2   Customer Agent                   746 non-null    object
 3   Date when order started status   746 non-null    datetime64[ns]
 4   Status Number                    746 non-null    float64
 5   Date when order left status      725 non-null    datetime64[ns]
 6   Status Category                  746 non-null    object
 7   Number of Tickets during Status  746 non-null    int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 52.5+ KB

###Check the number of duplicate order numbers

In [ ]:
len(status_21['Order Number'])-len(status_21['Order Number'].drop_duplicates())

83

###Create a new column that has the duration of each entry

In [ ]:
status_21['Duration'] = (status_21['Date when order left status'] - status_21['Date when order started status']).astype('timedelta64[h]')
status_21.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Order Number,Start Date Order,Customer Agent,Date when order started status,Status Number,Date when order left status,Status Category,Number of Tickets during Status,Duration
26,801ErpyAAC,1/7/2019,Bina,2019-10-16 06:59:00,21.0,2019-10-16 06:59:00,Installation,0,0.0
27,801ErpyAAC,1/7/2019,Bina,2019-11-06 18:04:00,21.0,2019-12-10 05:46:00,Installation,0,803.0
54,801ErqhAAC,2/7/2019,Bina,2019-10-10 07:35:00,21.0,2019-10-10 12:58:00,Installation,0,5.0
84,801ErsnAAC,2/7/2019,Bina,2019-10-28 15:13:00,21.0,2019-10-29 10:01:00,Installation,2,18.0
116,801ErsxAAC,2/7/2019,Bina,2019-10-21 09:28:00,21.0,2019-10-21 09:28:00,Installation,2,0.0

###Drop null values so that I get a clear picture of mean and average (not needed!)

In [ ]:
status_21_nonull = status_21.dropna()
status_21_nonull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 725 entries, 26 to 23463
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Order Number                     725 non-null    object
 1   Start Date Order                 725 non-null    object
 2   Customer Agent                   725 non-null    object
 3   Date when order started status   725 non-null    datetime64[ns]
 4   Status Number                    725 non-null    float64
 5   Date when order left status      725 non-null    datetime64[ns]
 6   Status Category                  725 non-null    object
 7   Number of Tickets during Status  725 non-null    int64
 8   Duration                         725 non-null    float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(4)
memory usage: 56.6+ KB

In [ ]:
status_21_nonull['Duration'].mean()

202.79310344827587

In [ ]:
status_21_nonull['Duration'].median()

42.0

Choosing to go with average because we have 83 entries that have multiple 21 entries that skew the median because they are so short

Calculate the max date

In [ ]:
Max_date = status_21['Date when order started status'].max()
Max_date

Timestamp('2020-10-13 08:11:00')

###Fill the null values in the data frame with the average duration + the latest date

In [ ]:
status_21['Date when order left status'] = status_21['Date when order left status'].fillna(Max_date + pd.Timedelta(hours=202.79))
status_21

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Order Number,Start Date Order,Customer Agent,Date when order started status,Status Number,Date when order left status,Status Category,Number of Tickets during Status,Duration
26,801ErpyAAC,1/7/2019,Bina,2019-10-16 06:59:00,21.0,2019-10-16 06:59:00,Installation,0,0.0
27,801ErpyAAC,1/7/2019,Bina,2019-11-06 18:04:00,21.0,2019-12-10 05:46:00,Installation,0,803.0
54,801ErqhAAC,2/7/2019,Bina,2019-10-10 07:35:00,21.0,2019-10-10 12:58:00,Installation,0,5.0
84,801ErsnAAC,2/7/2019,Bina,2019-10-28 15:13:00,21.0,2019-10-29 10:01:00,Installation,2,18.0
116,801ErsxAAC,2/7/2019,Bina,2019-10-21 09:28:00,21.0,2019-10-21 09:28:00,Installation,2,0.0
...,...,...,...,...,...,...,...,...,...
23100,801MwKcAAK,20/8/2020,Hans,2020-10-12 16:34:00,21.0,2020-10-21 18:58:24,Installation,2,NaN
23291,801NSraAAG,24/8/2020,Hans,2020-10-01 07:15:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
23370,801OGjEAAW,30/8/2020,Oskar,2020-10-13 08:11:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
23463,801OmyAAAS,4/9/2020,Oskar,2020-09-22 12:45:00,21.0,2020-10-05 09:11:00,Installation,1,308.0
23587,801P2WmAAK,7/9/2020,Martin,2020-10-13 07:09:00,21.0,2020-10-21 18:58:24,Installation,0,NaN

###Displaying the Null values in anew data frame

This gives me the final view of the unfinished installations that have been filled with a new value

In [ ]:
status_21_nulls = status_21[status_21.isnull().any(axis=1)]
status_21_nulls

,Order Number,Start Date Order,Customer Agent,Date when order started status,Status Number,Date when order left status,Status Category,Number of Tickets during Status,Duration
4436,801F2jtAAC,10/9/2019,Hans,2020-06-16 12:57:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
15249,801VxNUAA0,17/2/2020,Martin,2020-09-14 08:01:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
17211,801VyGVAA0,27/3/2020,Hans,2020-09-29 08:45:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
17966,801W0y5AAC,15/4/2020,Sammy,2020-09-08 09:58:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
18450,801W1mtAAC,4/5/2020,Sammy,2020-10-09 12:44:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
18974,801W22wAAC,11/5/2020,Elisabeth,2020-09-30 11:09:00,21.0,2020-10-21 18:58:24,Installation,2,NaN
20263,801Wj26AAC,12/6/2020,Martin,2020-09-22 09:39:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
20529,801WjCQAA0,18/6/2020,Hans,2020-10-05 15:09:00,21.0,2020-10-21 18:58:24,Installation,2,NaN
20583,801WjDiAAK,19/6/2020,Elisabeth,2020-09-16 10:10:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
20859,801WpLyAAK,25/6/2020,Elisabeth,2020-09-04 16:32:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
21646,801WsF7AAK,6/7/2020,Elisabeth,2020-09-29 08:24:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
21717,801WslmAAC,13/7/2020,Oskar,2020-10-05 14:40:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
21933,801WsY4AAK,9/7/2020,Oskar,2020-10-12 07:27:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
21987,801Wt0RAAS,15/7/2020,Oskar,2020-09-17 11:43:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
22202,801WtOJAA0,20/7/2020,Oskar,2020-08-19 15:29:00,21.0,2020-10-21 18:58:24,Installation,1,NaN
22412,801WxooAAC,24/7/2020,Hans,2020-10-01 07:05:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
22500,801XkQfAAK,30/7/2020,Elisabeth,2020-10-08 07:53:00,21.0,2020-10-21 18:58:24,Installation,2,NaN
23100,801MwKcAAK,20/8/2020,Hans,2020-10-12 16:34:00,21.0,2020-10-21 18:58:24,Installation,2,NaN
23291,801NSraAAG,24/8/2020,Hans,2020-10-01 07:15:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
23370,801OGjEAAW,30/8/2020,Oskar,2020-10-13 08:11:00,21.0,2020-10-21 18:58:24,Installation,0,NaN
23587,801P2WmAAK,7/9/2020,Martin,2020-10-13 07:09:00,21.0,2020-10-21 18:58:24,Installation,0,NaN

Save in new CSV

In [ ]:
status_21_nulls.to_csv('Approximate Installation times.csv')